@using TravelTripBlog.Models.Entities
@model List<Hakkimizda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="content">
        <div class="wrap">
            <div class="about">
                <h3>Hakkımda</h3>
                @foreach (var item in Model)
                {
                    <img src="@item.ResimUrl" alt="" />
                    <p>@item.Aciklama</p>
                }
            </div>
        </div>
    </div>

